
<div *ngIf="teacherSelected">

    <div class="row">
        <div class="mr-auto">
            <app-title [title]="'Professor: ' + teacherSelected.name "></app-title>
        </div>
        <div class="mt-2">
            <button class="btn btn-warning" (click)="back()">Voltar</button>
        </div>
    </div>

    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Nome</label>
            <input type="text" value='{{teacherSelected.name}}' class="form-control">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Disciplina</label>
            <input type="text" value='{{teacherSelected.discipline}}' class="form-control">
        </div>
    </form>

</div>
<br>

<div *ngIf="!teacherSelected">
    <app-title [title]="title"></app-title>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Disciplina</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let teacher of teachers" style="cursor: pointer;" (click)="selectTeacher(teacher)">
                <th scope="row">{{ teacher.id }}</th>
                <td>{{teacher.name}}</td>
                <td>{{teacher.discipline}}</td>
    
            </tr>
        </tbody>
    </table>
    

    
</div>

